<!DOCTYPE html>
<html>
<head>
    <title>Blog - Milis Linux</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="/">Ana Sayfa</a>
    </span>
    <span class="links">
        <a href="/indir/">İndir</a>
        <a href="/belge/">Belge</a>
        <a href="https://gitlab.com/milislinux/milis23">Kod</a>
        <a href="https://mls.akdeniz.edu.tr/forum/forum">Forum</a>
        <a href="/blog/">Blog</a>
        <!-- <a href="/paketler21/">Paketler</a> -->
        <a href="/hakkinda/">Hakkında</a>
        <a href="/iletisim/">İletişim</a>
    </span>
</section>
</nav>

<main>
<h1>Blog</h1>
<article>
<h2><a href="/blog/Cumhuriyet-Milis-23/">Cumhuriyetimizin 100.Yılı ve Milis Linux</a></h2>
<!-- <p class="meta">Published on 2023-10-29 by <b>Admin</b></p> -->
<p class="summary">
Tarihte bağımsızlığı için ağır bedeller ödemiş milletler vardır. Bu milletlerin başında, bundan yüz yıl önce yedi düvele karşı savaşmış ve 29 Ekim 1923'te Türkiye Cumhuriyeti&nbsp;<a class="more" href="/blog/Cumhuriyet-Milis-23/">...</a>
</p>
<div>
<a class="more" href="/blog/Cumhuriyet-Milis-23/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/Milis-21-Kararli-2023-02/">Milis Linux 2.1 Kararlı Şubat Sürümü Duyurusu</a></h2>
<!-- <p class="meta">Published on 2023-02-01 by <b>Admin</b></p> -->
<p class="summary">
Dönemlik çalışmalarımız ardından 02-02-2023 tarihli yeni çalışan ve kurulan imaj dosyamız hazırlanmıştır. Bu sürümde temel sistem aynı kalmak üzere genel olarak masaüstü ve ilişkili uygulamalar&nbsp;<a class="more" href="/blog/Milis-21-Kararli-2023-02/">...</a>
</p>
<div>
<a class="more" href="/blog/Milis-21-Kararli-2023-02/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/mhss/">MHSS 0.1.5 (Beta) Duyurusu</a></h2>
<!-- <p class="meta">Published on 2022-05-14 by <b>Admin</b></p> -->
<p class="summary">
Milis Linux gönüllü katkıcılarından Mehmet Akdemir'in geliştirmekte olduğu Milis Hızlı Satış Sistemi uygulamasının, üç aylık çalışmanın ardından 0.1.5 Beta sürümü yayınlamıştır. Bu sürümle gelen yenilikler;&nbsp;<a class="more" href="/blog/mhss/">...</a>
</p>
<div>
<a class="more" href="/blog/mhss/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/Milis-21-Duyuru/">Milis Linux 2.1 Kararlı Sürüm Duyurusu</a></h2>
<!-- <p class="meta">Published on 2022-02-19 by <b>Admin</b></p> -->
<p class="summary">
Yaklaşık 6 aylık yoğun ön hazırlık sistem çalışmalarımız ardından nihayet Milis Linux 2.1 sisteminin kararlı sürümünü hazırlamış bulunmaktayız. Bu zaman zarfında özellikle masaüstü ortamının tasarım&nbsp;<a class="more" href="/blog/Milis-21-Duyuru/">...</a>
</p>
<div>
<a class="more" href="/blog/Milis-21-Duyuru/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/yerli_milli_yazilim/">Yerli ve Milli Yazılım Kavramı</a></h2>
<!-- <p class="meta">Published on 2022-01-03 by <b>Admin</b></p> -->
<p class="summary">
Yazılım Yerli ve milli niteliklerini ele almadan önce yazılım kavramını kısaca tanımlamak gerekirse; bir elektronik aygıtın belli bir amacı yerine getirmek için çalıştırdığı komut setlerin&nbsp;<a class="more" href="/blog/yerli_milli_yazilim/">...</a>
</p>
<div>
<a class="more" href="/blog/yerli_milli_yazilim/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/gelisim_rapor_2021/">Milis Linux Gelişim Raporu 2019-2021 ve 2.1 Sürümü</a></h2>
<!-- <p class="meta">Published on 2021-08-04 by <b>Admin</b></p> -->
<p class="summary">
2021 yılı bitimiyle beş yıllık gelişim sürecini tamamlayacak olan Milis Linux Projesinin 2021-Ağustos ayına kadar olan gelişim sürecini özetlersek; 2019 yılı itibariyle Akdeniz Üniversitesi bünyesinde&nbsp;<a class="more" href="/blog/gelisim_rapor_2021/">...</a>
</p>
<div>
<a class="more" href="/blog/gelisim_rapor_2021/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/Milis-20-Beta-2020-10/">Milis Linux 2.0 Ekim Sürümü (Beta)</a></h2>
<!-- <p class="meta">Published on 2020-10-29 by <b>Admin</b></p> -->
<p class="summary">
27-10-2020 tarihli yeni çalışan ve kurulan imaj dosyamız oluşturuldu. Yeni beta sürümde yapılan değişiklikler aşağıda belirtilmiştir: Linux çekirdeği 5.8.15 sürümüne güncellendi. Linux-firmware 20201022 sürümüne güncellendi.&nbsp;<a class="more" href="/blog/Milis-20-Beta-2020-10/">...</a>
</p>
<div>
<a class="more" href="/blog/Milis-20-Beta-2020-10/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/Milis-20-Beta/">Milis Linux 2.0 (Beta) İlk Sürümü</a></h2>
<!-- <p class="meta">Published on 2020-01-01 by <b>Admin</b></p> -->
<p class="summary">
01-01-2020 tarihli yeni çalışan ve kurulan imaj dosyamız oluşturuldu. Sürüm no 2.0 ve kod adı "HAN" olan sistem çalışmasında yapılan değişiklikler aşağıda belirtilmiştir: Milis Linux&nbsp;<a class="more" href="/blog/Milis-20-Beta/">...</a>
</p>
<div>
<a class="more" href="/blog/Milis-20-Beta/">Devamı</a>
</div>
</article>
<article>
<h2><a href="/blog/gelisim_rapor_2016-2019/">Milis Linux Gelişim Raporu 2016-2019</a></h2>
<!-- <p class="meta">Published on 1970-01-01 by <b>Admin</b></p> -->
<p class="summary">
2019 yılı itibariyle Milis Linux Projesi üç yılını tamamlarken, projenin tarihsel gelişim sürecini özetlersek; Milis Linux Projesi, anasayfada belirttiğimiz üzere "Milli İşletim Sistemi" geliştirme çalışması&nbsp;<a class="more" href="/blog/gelisim_rapor_2016-2019/">...</a>
</p>
<div>
<a class="more" href="/blog/gelisim_rapor_2016-2019/">Devamı</a>
</div>
</article>

<section>
<a class="rss" href="/blog/rss.xml">RSS</a>
</section>

</main>

<footer>
<section>

<p>
    <p>&copy; Milis Linux 2024 </p>
    <p>Bu site Akdeniz Üniversitesi sunucularında barındırılmaktadır. Sitede yer alan içerik kaynak göstermek şartıyla kullanılabilir.
	Linux® Linus Torvalds'ın tescilli bir markasıdır. (<a href="http://www.linuxfoundation.org/programs/legal/trademark/attribution">info</a>)
	</p>
	<p><a href="/en/">English Site</a></p>
</p>
</section>
</footer>

</body>
</html>
